* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  background: #106667;
}

.swiper {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
